/* src/App.css */

@font-face {
  font-family: 'Wilkysta';
  src: url('../public/wilkysta.ttf') format('truetype');
}

body {
  font-family: 'Wilkysta', serif;
  margin: 0;
  background-color: #f6eee3;
  color: #2c2c2c;
}
