@font-face {
  font-family: 'wilkysta';
  src: url('./assets/fonts/wilkysta.ttf') format('truetype');
}
@font-face {
  font-family: 'Wiskysta';
  src: url('./assets/fonts/wilkysta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'wilkysta', serif;
  background-color: #f6eddd;
}
